{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form class="form" method="POST" action="/query">
    <input class="input" type="query" name="query" autofocus=""
           placeholder="Indago search" value="{{query_string}}">
    <button class="button is-hidden">Search
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>
  </form>
</div>
{% if query_time != "" %}
  <p class="my-4 is-size-7">Found {{query_results|length}} results ({{query_time}})</p>
  <p>&nbsp;</p>
  {% for result in query_results %}
    <div class="content">
    {% set formatted = true %}
    {% if result['table'] == 'content' and 'metadata' in result %}
      <span><b>{{result['metadata']['title']}}</b></span>
      <span> ({{",".join(result['metadata']['author'])}})</span>
      <p class="pl-4 is-size-6">{{result['sample']|safe}} ({{result['reference']}})</p>
    {% elif result['table'] == 'metadata' %}
      <span><b>{{result['title']}}</b></span>
      <span> ({{",".join(result['author'])}})</span>
      <p class="pl-4 is-size-6">{{result['sample']|safe}}</p>
    {% else %}
      {% set formatted = false %}
    {% endif %}
    {% if not formatted or debughtml %}
      {% if not formatted %}
        <table class="table is-narrow">
      {% else %}
        <table class="table is-narrow ml-6 is-size-7">
      {% endif %}
      {% for key, value in result.items() %}
        {% if key == 'metadata' %}
          <tr>
            <td>{{key}}</td>
            <td>
              <table class="table is-narrow ml-6 is-size-9">
                {% for mkey, mvalue in value.items() %}
                <tr>
                  <td>{{mkey}}</td>
                  <td>{{mvalue}}</td>
                </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        {% else %}
          <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
        {% endif %}
      {% endfor %}
       </table>
    {% endif %}
    </div>
  {% endfor %}
{% endif %}
{% endblock %}
