{% extends 'base.html' %}

{% block content %}
<div class="container has-text-centered">
  <form class="form" method="POST" action="/login">
    <div class="field">
      <div class="control">
        <input class="input is-medium" type="name" name="email"
               placeholder="Your Email" autofocus="">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-medium" type="password" name="password"
               placeholder="Your Password" autofocus="">
      </div>
    </div>
    <div class="field">
      <label class="checkbox">
        <input type="checkbox" name="remember">&nbsp;Remember me</input>
      </label>
    </div>
    <button class="button is-block is-link is-fullwidth
                   is-medium">Login<i class="fa fa-sign-in"
                                      aria-hidden="true"></i>
    </button>
  </form>
  <p class="has-text-link">
    <a href="{{url_for('auth.register')}}">Register</a> &nbsp;·&nbsp;
    <a href="{{url_for('auth.forgot')}}">Forgot Password</a>
  </p>
</div>
{% endblock %}

